html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.my-modal {
  width: 90vw;    /* Occupy the 90% of the screen width */
  max-width: 90vw;
}

.modal-content {
  width: 700px;
}

.modal-dialog {
  max-width: 1050px!important;
}

.container-id {
  background-image: -moz-element(#parade);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
